asspath
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.settings/
.settings/*
/indexes/*
/target/*
*/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/
.mymetadata
/src/main/webapp/.gitignore
/src/test/resources/mybatis/generatorConfig.xml
.log
.DS_Store
*.DS_Store
*/.DS_Store
*/.gitignore
/bin/
